$black: #0A0A0F;
$text: #232323;
$siren: #C0BFF6;
$blue: #246BF5;

html{
	box-sizing: border-box;
}
*,
*::before,
*::after{
	box-sizing: inherit;
}
a{
	display: inline-block;
	text-decoration: none;
	
}
ul,
li{
	margin: 0;
	padding: 0;
	list-style: none;
}
h2{
	margin: 0;
}
html, body{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: $text;
}
body{
	overflow-x: hidden;
	background-color: $black;
}
html{
	position: relative;
}
.container{
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 15px;
}

//--------------------HEADER--------------------------
.header{
	color: #fff;
}
.header-top{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top: 85px;
	.menu{
		display: flex;
		justify-content: start;
		align-items: center;
		li+li{
			margin-left: 45px;
		}
		a{
			color: #fff;
			text-decoration: none;
			font-size: 24px;
			transition: all 0.3s;
			&:hover{
				color: $siren;
			}
		}
	}
	.menu-btn{
		
		
		a{
			color: $text;
			padding: 15px 45px;
			background-color: $siren;
			border-radius: 10px;
			font-size: 24px;
			transition: all 0.3s;
			&:hover{
				background-color: #fff;
			}
		}
	}
}
.header__info{
	margin-top: 150px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	h1{
		font-size: 60px;
		font-weight: 600;
		width: 530px;
		line-height: 130%;
		color: #fff;
		background-image: linear-gradient(90deg, #246BF5, #EACEFB);
		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
	p{
		font-size: 24px;
		line-height: 150%;
		width: 500px;

	}
	.btn-white{
		margin-right: 30px;
	}
}
.info-buttons{
	padding-top: 30px;
}

.btn-white, .btn-black{
		padding: 15px 45px;
		border-radius: 10px;
		transition: all 0.3s;
	}
	.btn-black{
		color: #fff;
		border: 1px solid #fff;
		&:hover{
			color: $siren;
			border: 1px solid $siren;
		}
	}
	.btn-white{
		color: $text;
		background-color: #fff;
		&:hover{
			color: $text;
			background-color: $siren;
		}
	}

hr{
	width: 100%;
	border: 1px solid #fff;
	background-image: linear-gradient(#246BF5, #EACEFB);
  -moz-border-image: -moz-linear-gradient(#246BF5 , #EACEFB);
-webkit-border-image: -webkit-linear-gradient(#246BF5 , #EACEFB);
  border-image-slice: 1;
}

//---------------------TEAM----------------------------
.team{
	padding: 100px 0;
	color: #fff;
}
h2{
	font-size: 48px;
	font-weight: 600;
	text-align: center;
	line-height: 130%;
	color: #fff;
	background-image: linear-gradient(90deg, #246BF5, #EACEFB);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.team-about{
	text-align: center;
	margin: 0 auto;
	width: 75%;
	padding-top: 30px;
}
.team__items{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 70px;
}
.item{
	width: 280px;
	text-align: center;
	margin: 0 40px 50px 40px;
	h3{
		font-size: 24px;
		font-weight: 600;
	}
	.job{
		font-style: italic;
		color: $siren;
		padding-bottom: 10px;
	}
	.team-link{
		color: #fff;
		position: relative;
		transition: all 0.3s;
		&:hover{
			color: $siren;
			cursor: pointer;
		}
		&::before{
			position: absolute;
			content: "";
			width: 15px;
			height: 15px;
			top: 6px;
			left: -18px;
			background-image: url('../images/arrow.svg');
			background-repeat: no-repeat;

		}
		&.active{
			&::before{
				background-image: url('../images/arrow-down.svg');
			}
			
		}
	}
	.hidden-block{
		display: none;
		&.open{
			display: block;
		}
	}
}