$black: #0A0A0F;
$text: #232323;
$siren: #C0BFF6;
$blue: #246BF5;
$white: #FBF7F7;

html{
	box-sizing: border-box;
}
*,
*::before,
*::after{
	box-sizing: inherit;
}
a{
	display: inline-block;
	text-decoration: none;
	
}
ul,
li{
	margin: 0;
	padding: 0;
	list-style: none;
}
h2{
	margin: 0;
}
html, body{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: $text;
}
body{
	overflow-x: hidden;
	background-color: $black;
	&.lock{
		overflow: hidden;
	}
}
html{
	position: relative;
}
.container{
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 15px;
}

//--------------------HEADER--------------------------
.header{
	color: #fff;
}
.header-top{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top: 85px;
	.menu{
		display: flex;
		justify-content: start;
		align-items: center;
		li+li{
			margin-left: 45px;
		}
		a{
			color: #fff;
			text-decoration: none;
			font-size: 24px;
			transition: all 0.3s;
			&:hover{
				color: $siren;

			}
		}
	}
	
}
.menu-btn button, .addteam{
		
		
		
			color: #fff;
			padding: 15px 45px;
			background-color: $blue;
			border-radius: 10px;
			border: none;
			font-size: 24px;
			transition: all 0.3s;
			cursor: pointer;
			&:hover{
				background-color: $siren;
				color: $text;
			}
		
	}
.addteam{
	font-size: 18px;
	margin-left: 20px;
}
.menu-burger{
	
	display: none;
	margin-right: 30px;
	cursor: pointer;
	
	&.active::before{
		transform: rotate(45deg);
		top: 9px;
	}
	&.active::after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	&.active span{
		transform: scale(0);
	}
}
.header__info{
	margin-top: 150px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	h1{
		font-size: 60px;
		font-weight: 600;
		width: 530px;
		line-height: 130%;
		color: #fff;
		background-image: linear-gradient(90deg, #246BF5, #EACEFB);
		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
	p{
		font-size: 24px;
		line-height: 150%;
		width: 500px;

	}
	.btn-white{
		margin-right: 30px;
	}
}
.info-buttons{
	padding-top: 30px;
}
.info-image{
	img{
		width: 100%;
	}
}

.btn-white, .btn-black{
		padding: 15px 45px;
		border-radius: 10px;
		transition: all 0.3s;
	}
	.btn-black{
		color: #fff;
		border: 1px solid #fff;
		background-color: $black;
		&:hover{
			color: $siren;
			border: 1px solid $siren;
		}
	}
	.btn-white{
		color: $text;
		background-color: #fff;
		&:hover{
			color: $text;
			background-color: $siren;
		}
	}

hr{
	width: 100%;
	border: 1px solid #fff;
	background-image: linear-gradient(#246BF5, #EACEFB);
  -moz-border-image: -moz-linear-gradient(#246BF5 , #EACEFB);
-webkit-border-image: -webkit-linear-gradient(#246BF5 , #EACEFB);
  border-image-slice: 1;
}

//---------------------TEAM----------------------------
.team{
	padding: 100px 0;
	color: #fff;
}
h2.title-team{
	font-size: 48px;
	font-weight: 600;
	text-align: center;
	line-height: 130%;
	color: #fff;
	background-image: linear-gradient(90deg, #246BF5, #EACEFB);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h3{
		font-size: 24px;
		font-weight: 600;
	}
.team-about{
	text-align: center;
	margin: 0 auto;
	width: 75%;
	padding-top: 30px;
}
.team__items{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 70px;
}
.item{
	width: 280px;
	text-align: center;
	margin: 0 40px 50px 40px;
	
	.job{
		font-style: italic;
		color: $siren;
		padding-bottom: 10px;
	}
	.team-link{
		color: #fff;
		position: relative;
		transition: all 0.3s;
		&:hover{
			color: $siren;
			cursor: pointer;
		}
		&::before{
			position: absolute;
			content: "";
			width: 15px;
			height: 15px;
			top: 6px;
			left: -18px;
			background-image: url('../images/arrow.svg');
			background-repeat: no-repeat;

		}
		&.active{
			&::before{
				background-image: url('../images/arrow-down.svg');
			}
			
		}
	}
	.hidden-block{
		display: none;
		&.open{
			display: block;
		}
	}
}

//----------------------------STEPS------------------------
.steps-container{
	background-color: #fff;
	border-radius: 10px;
	padding: 100px 0;
	h2.title-steps{
		background-image: none;
		font-size: 48px;
		font-weight: 600;
		font-style: normal;
		color: $text;
		text-align: center;
	}
}
.steps__wrapper{
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}
.step{
	margin-top: 70px;
	width: 30%;
	margin-left: 100px;
	
	.steps-list li{
		list-style-type: disc;
	}
	.number{
		font-size: 64px;
		font-weight: 700;
		color: $blue;
		margin-bottom: 25px;
	}
}
//----------------------------------HOWTOWORK---------------------
.howtowork_wrapper{
	padding: 100px 0;
	color: #fff;
	display: flex;
	justify-content: space-between;
	width: 100%;
	h3.howtowork{
		font-size: 36px;
		line-height: 130%;
	}
	p +p{
		margin-bottom: 50px;
	}
	p{
		color: $white;
	}
}
.howtowork-info, .howtowork-items{
	width: 45%;
}
.howtowork-items{
	padding-top: 50px;
}
.item-how{
	width: 100%;
	height: 80px;
	padding: 25px 25px 25px 50px;
	position: relative;
	margin-bottom: 15px;
	width: 100%;
	border: 1px solid #246BF5;
	border-radius: 10px;
	background-image: linear-gradient(to right,  #246BF5, #EACEFB);
  /*-moz-border-image: -moz-linear-gradient(#246BF5 , #EACEFB);
-webkit-border-image: -webkit-linear-gradient(#246BF5 , #EACEFB);*/
  border-image-slice: 1; 
  &::before{
  	position: absolute;
  	content: "";
  	width: 20px;
  	height: 16px;
  	top: 30px;
  	left: 20px;
  	background-image: url('../images/check.svg');
	background-repeat: no-repeat;
  }
}
//--------------------------PROJECTS------------------------
.projects{
	background-color: #F4F3FF;
	padding: 100px 0;
}
h2.title-projects{
		background-image: none;
		font-size: 48px;
		font-weight: 600;
		font-style: normal;
		color: $text;
		text-align: center;
	}
.progects__wrapper{
	padding-top: 70px;
}
.btn-project{
	padding: 15px 45px;
	border-radius: 10px;
	transition: all 0.3s;
	color: $text;
		border: 1px solid $text;
		&:hover{
			color: $siren;
			border: 1px solid $siren;
		}
}
.project-left{
	display: flex;
	justify-content: start;
	width: 100%;
	margin-bottom: 40px;
}
.project-right{
	display: flex;
	justify-content: end;
	width: 100%;
	margin-bottom: 50px;
}
.project-info{
	margin: 30px;
	&.seo{
		margin: 60px 0;
	}
}
//----------------------reviews-------------------------
.reviews{
	background-color: $black;
	padding: 100px 0;
	color: $white;
}
.slider{
	width: 100%;
	margin-bottom: 100px;
}
.slider-item{
	text-align: center;
	padding-top: 60px;
}
.review-name{
	font-size: 24px;
	font-weight: 600;
	padding-bottom: 40px;
	color: $siren;
}
.review-text{
	width: 600px;
	margin: 0 auto;
	font-weight: 400;
}
.slider-arrow-left{
	width: 50px;
	height: 50px;
	background-image: url('../images/arrow-left.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	top: 120px;
	left: 100px;
	cursor: pointer;
	z-index: 5;
}
.slider-arrow-right{
	width: 50px;
	height: 50px;
	background-image: url('../images/arrow-right.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	top: 120px;
	right: 100px;
	cursor: pointer;
}
h2.sert{
	color: #fff;
	padding: 60px 0;
}
.sertificat{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 100px;
	.sertificat-image{
		width: 30%;
		img{
			width: 100%;
		}
	}
}
//---------------------FOOTER---------------------
.footer{
	padding: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.footer-btn{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	button{
			color: #fff;
			padding: 15px 45px;
			background-color: $blue;
			border-radius: 10px;
			font-size: 18px;
			transition: all 0.3s;
			border: none;
			cursor: pointer;
			&:hover{
				background-color: $siren;
				color: $text;
			}

		}

		button{
				margin-right: 20px;
			}
}

.footer-info{
	padding-top: 50px;
}
.footer-socials{
	padding-top: 50px;
	img{
		margin-left: 30px;
	}
}
.footer-image{
	width: 300px;
	img{
		width: 100%;
	}
}


.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
	&.open{
		opacity: 1;
		visibility: visible;
		.popup__content{
			transform: translate(0px,0px);
			opacity: 1;
		}
	}
	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 10px;
	}
	&__content {
		background: #f2f2f2;
		color: $black;
		max-width: 700px;
		padding: 40px;
		position: relative;
		transition: all 0.8s ease 0s;
		opacity: 0;
		transform: translate(0px,-100%);
	}
	&__close {
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 20px;
	}
	&__title {
		font-size: 30px;
		margin: 0 0 1em 0;
		color: $black;
	}
	&__text {
		form{
			display: flex;
			flex-direction: column;
		}
		input, textarea{
			margin-bottom: 15px;
			padding: 20px;
			border: none;
		}
		.order-btn{
			color: #fff;
			padding: 15px 45px;
			background-color: $blue;
			border-radius: 10px;
			font-size: 18px;
			transition: all 0.3s;
			border: none;
			cursor: pointer;
			&:hover{
				background-color: $siren;
				color: $text;
			}
		
		}
		
	}
	

}
.fields, .order-success, .note{
		color: #000;
	}
	.notification_error{
		color: red;
	}



@import 'media';